*{
    padding: 0;
    margin: 0;
}

:root{
    --dark-blue1: #14144b;
    --dark-blue2: #0f0f3d;
    --dark-blue3: #0a0a30;
    --dark-blue4: #050522;
    --dark-blue5: #000014;

    --white: #ebebeb;
    --effect: #4d4d91;
}

body {
    background-color: var(--dark-blue4);
    
}

header {
    background-color: var(--dark-blue3);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    padding: .1rem;
    min-height: 30px;
}

.logo {
    height: 100%;
    margin-left: 100px;

}

.imglogo {

    width: 50px;

}

nav {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.menu {

    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    padding: .8rem;

}

.menu:hover{

    transition: .2s;
    color: var(--effect);
    text-decoration: overline;

}

.search-area{

    cursor: pointer;
    margin-right: 100px;
}

.loupe {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: .6rem;

    color: var(--white);

}

.loupe:hover{

    transition: .2s;
    color: var(--effect);

}

main {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 15vh;
    max-width: 100%;
    padding: 20px;

    align-items: center;
    justify-content: center;
    
}

.section1{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.box-section{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.car{

    width: 400px;
    height: 380px;
    object-fit: cover;
    flex: 1;
    

    min-width: 300px;
    
}

.box-text{

    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 5rem;

    
      
}

.box-text h1 {

    font-size: 30px; 

} 

.box-text, p {
    
    text-align: justify;
    width: 30vw;
    flex: 1;
    color: var(--white);
    font-size: 18px;
}






